body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: rgb(230, 151, 197);
  position: relative;

}


#container {
  display: none;
  
  padding: 2px 20px;
  margin: auto;
  width: 60%;
  background-color: rgb(163, 58, 75);
  border-radius: 20px;
  box-shadow: 0 10px 30px #d157b9;
  
}




form input {
  font-family: "Roboto", sans-serif;
  outline: 1px solid black;
  background: #f2f2f2;
  width: 80%;
  border: 0;
  margin: 10px 15px;
  padding: 15px 15px;
  box-sizing: border-box;
  font-size: 14px;
}

#modal {
  outline: 5px solid black;
  padding: 15px 1px;
  width: 40%;
  display: inline-flex;
  background-color: rgb(163, 58, 75);
  border-radius: 10px;
  box-shadow: 0 10px 10px #d157b9;
  justify-content: center;


}



h1 {
  margin-top: 40px;
  color: black;
}

.quiz1 ul li {
  display: flex;
  background-color: black;
  color: white;


}

#question-container {
  text-align: left;
  margin-bottom: 20px;

}

#choices li {
  margin: 10px;
  list-style: none;
  padding: 20px;
  border-radius: 20px;
}

button {

  
  padding: 10px 20px;
  background-color: #2d0d47;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  box-shadow: 0 0 20px #251729;
  margin: 2px;
}

button:hover {
  background-color: #8e21af;
}


#previous {

  display: none;
  padding: 10px 20px;
  background-color: #2d0d47;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  box-shadow: 0 0 20px #251729;
  text-align: center;  
}

#scorePage{
  display: none;
}

